openapi: 3.2.0
info:
  description: Some custom description of API.
  version: '1.0'
  title: POWER2SME True Caller Controller API
  termsOfService: https://www.power2sme.com/termsandconditions
  contact:
    name: Power2sme
  license:
    name: License of API
    url: https://www.power2sme.com/privacypolicy
servers:
- url: https://api.power2sme.com/api/ws/v4
tags:
- name: true-caller-controller
  description: True Caller Controller
paths:
  /getAccessTokenFromTrueCaller:
    post:
      tags:
      - true-caller-controller
      summary: saveTrueCallerCallBackDetails
      operationId: saveTrueCallerCallBackDetailsUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: boolean
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrueCallerAccessToken'
        description: token
        required: true
  /getTruecallerInfo:
    get:
      tags:
      - true-caller-controller
      summary: getTrueCallerDataForRequestId
      operationId: getTrueCallerDataForRequestIdUsingGET
      parameters:
      - name: trueCallerRequestId
        in: query
        description: trueCallerRequestId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrueCallerAccessToken'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  schemas:
    TrueCallerAccessToken:
      type: object
      properties:
        accessToken:
          type: string
        requestId:
          type: string
        state:
          type: string
