openapi: 3.2.0
info:
  description: Some custom description of API.
  version: '1.0'
  title: POWER2SME Employee Login API
  termsOfService: https://www.power2sme.com/termsandconditions
  contact:
    name: Power2sme
  license:
    name: License of API
    url: https://www.power2sme.com/privacypolicy
servers:
- url: https://api.power2sme.com/api/ws/v4
tags:
- name: Employee Login
  description: ' '
paths:
  /p2semployees:
    get:
      tags:
      - Employee Login
      summary: fetches all employee names and their corresponding email IDs
      description: this gets all employee names and their corresponding emailIDs
      operationId: getPower2SMEEmployeeDetailsUsingGET
      parameters:
      - name: emailIds
        in: query
        description: emailIds
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Response_Model'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /searchUser:
    post:
      tags:
      - Employee Login
      summary: searchUser
      operationId: searchUserUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Model'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        description: user
        required: true
components:
  schemas:
    User:
      type: object
      properties:
        department:
          type: string
        email:
          type: string
        firstName:
          type: string
        id:
          type: string
        lastName:
          type: string
        mobile:
          type: string
        reportsTo:
          $ref: '#/components/schemas/User'
        reportsToDepth:
          type: integer
          format: int32
        reportsToId:
          type: string
        reportsToLevel:
          type: integer
          format: int32
        roleId:
          type: string
        roleName:
          type: string
        sessionId:
          type: string
        title:
          type: string
        userHash:
          type: string
        userHashEncrypted:
          type: string
        userName:
          type: string
    Response_Model:
      type: object
      required:
      - Data
      - ErrorCode
      - Message
      - Status
      - TotalRecords
      properties:
        Data:
          type: object
          description: Give the Response of API's in the form of JSON Object
        ErrorCode:
          type: integer
          format: int32
          description: Give the Error Code according to the Response of API's.
        Message:
          type: string
          description: Give the Message according to the Response of API's.
        Status:
          type: integer
          format: int32
          description: Give the Status according to the Response of API's.
        TotalRecords:
          type: integer
          format: int32
          description: Give the Total No. of Records according to the Response of API's.
      description: Model for the response of API's
