openapi: 3.2.0
info:
  description: Some custom description of API.
  version: '1.0'
  title: POWER2SME Mobile Application API
  termsOfService: https://www.power2sme.com/termsandconditions
  contact:
    name: Power2sme
  license:
    name: License of API
    url: https://www.power2sme.com/privacypolicy
servers:
- url: https://api.power2sme.com/api/ws/v4
tags:
- name: Mobile Application
  description: ' '
paths:
  /applink:
    get:
      tags:
      - Mobile Application
      summary: Mobile Application Download Link
      description: It will send an app link on mobile number via sms by providing the mobile number and device platform like Android, Windows, IOS
      operationId: getAppLinkUsingGET
      parameters:
      - name: mobile_no
        in: query
        description: Mobile No.
        required: true
        schema:
          type: string
          default: '8896421916'
      - name: platform
        in: query
        description: Device Platform
        required: true
        schema:
          type: string
          default: Android
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Model'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  schemas:
    Response_Model:
      type: object
      required:
      - Data
      - ErrorCode
      - Message
      - Status
      - TotalRecords
      properties:
        Data:
          type: object
          description: Give the Response of API's in the form of JSON Object
        ErrorCode:
          type: integer
          format: int32
          description: Give the Error Code according to the Response of API's.
        Message:
          type: string
          description: Give the Message according to the Response of API's.
        Status:
          type: integer
          format: int32
          description: Give the Status according to the Response of API's.
        TotalRecords:
          type: integer
          format: int32
          description: Give the Total No. of Records according to the Response of API's.
      description: Model for the response of API's
