openapi: 3.2.0
info:
  description: Some custom description of API.
  version: '1.0'
  title: POWER2SME Notification Service API
  termsOfService: https://www.power2sme.com/termsandconditions
  contact:
    name: Power2sme
  license:
    name: License of API
    url: https://www.power2sme.com/privacypolicy
servers:
- url: https://api.power2sme.com/api/ws/v4
tags:
- name: Notification Service
  description: ' '
paths:
  /send/{mode}:
    post:
      tags:
      - Notification Service
      summary: Send notification via e-mail or SMS
      description: 'allowed values for mode param are: email, sms'
      operationId: sendNotifUsingPOST
      parameters:
      - name: mode
        in: path
        description: mode
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Model'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      requestBody:
        content:
          application/json:
            schema:
              type: string
        description: jsonParam
        required: true
components:
  schemas:
    Response_Model:
      type: object
      required:
      - Data
      - ErrorCode
      - Message
      - Status
      - TotalRecords
      properties:
        Data:
          type: object
          description: Give the Response of API's in the form of JSON Object
        ErrorCode:
          type: integer
          format: int32
          description: Give the Error Code according to the Response of API's.
        Message:
          type: string
          description: Give the Message according to the Response of API's.
        Status:
          type: integer
          format: int32
          description: Give the Status according to the Response of API's.
        TotalRecords:
          type: integer
          format: int32
          description: Give the Total No. of Records according to the Response of API's.
      description: Model for the response of API's
