openapi: 3.2.0
info:
  description: Some custom description of API.
  version: '1.0'
  title: POWER2SME Location Master API
  termsOfService: https://www.power2sme.com/termsandconditions
  contact:
    name: Power2sme
  license:
    name: License of API
    url: https://www.power2sme.com/privacypolicy
servers:
- url: https://api.power2sme.com/api/ws/v4
tags:
- name: Location Master
  description: ' '
paths:
  /cities:
    get:
      tags:
      - Location Master
      summary: List of all cities of a state
      description: It will provide All Cities of a State on the basis of State Id.
      operationId: getAllCitiesOfStateUsingGET
      parameters:
      - name: stateid
        in: query
        description: stateid
        required: true
        schema:
          type: integer
          format: int32
          default: 8
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Model'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /getalllocation:
    get:
      tags:
      - Location Master
      summary: List of All locations in Location Master
      description: It will provide the list of all locations till present day.
      operationId: getAllLocationUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Model'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /locationmaster:
    get:
      tags:
      - Location Master
      summary: List of All city and state by pincode
      description: It will provide the list of all cities and states and location on the basis of pincode
      operationId: getPincodeDataUsingGET
      parameters:
      - name: pincode
        in: query
        description: pincode
        required: true
        schema:
          type: string
          default: '122015'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Model'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /states:
    get:
      tags:
      - Location Master
      summary: List of All States
      description: It will provide the list of all states.
      operationId: getAllStatesUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Model'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  schemas:
    Response_Model:
      type: object
      required:
      - Data
      - ErrorCode
      - Message
      - Status
      - TotalRecords
      properties:
        Data:
          type: object
          description: Give the Response of API's in the form of JSON Object
        ErrorCode:
          type: integer
          format: int32
          description: Give the Error Code according to the Response of API's.
        Message:
          type: string
          description: Give the Message according to the Response of API's.
        Status:
          type: integer
          format: int32
          description: Give the Status according to the Response of API's.
        TotalRecords:
          type: integer
          format: int32
          description: Give the Total No. of Records according to the Response of API's.
      description: Model for the response of API's
