swagger: '2.0'
info:
  description: Some custom description of API.
  version: '1.0'
  title: POWER2SME Bank Master General Mobile OTP Service By Template API
  termsOfService: https://www.power2sme.com/termsandconditions
  contact:
    name: Power2sme
  license:
    name: License of API
    url: https://www.power2sme.com/privacypolicy
host: api.power2sme.com
basePath: /api/ws/v4
tags:
- name: General Mobile OTP Service By Template
  description: ' '
paths:
  /generateotpbytemplate:
    post:
      tags:
      - General Mobile OTP Service By Template
      summary: Generate OTP By Template
      description: It will generate the one time password by providing the Mobile Number and Message, which you wanna to sent to mobile number. You have to provide "#OTP#" in your message which will replace with otp.
      operationId: generateOtpUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: otpByTemplate
        description: Mobile Number with message
        required: true
        schema:
          $ref: '#/definitions/OTP By Template'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Response Model'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /validateotpbytemplate:
    post:
      tags:
      - General Mobile OTP Service By Template
      summary: Validate OTP when Generate By Template
      description: It will validate the OTP sent to your mobile number.
      operationId: validateOtpUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: otp
        description: otp
        required: true
        schema:
          $ref: '#/definitions/OTP'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Response Model'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
definitions:
  OTP:
    type: object
    required:
    - mobileNumber
    - otp
    properties:
      mobileNumber:
        type: string
        description: Give the Mobile No. of User
      otp:
        type: string
        description: Give the Otp for that Mobile No.
    description: Model for validating the otp for mibile number
  Response Model:
    type: object
    required:
    - Data
    - ErrorCode
    - Message
    - Status
    - TotalRecords
    properties:
      Data:
        type: object
        description: Give the Response of API's in the form of JSON Object
      ErrorCode:
        type: integer
        format: int32
        description: Give the Error Code according to the Response of API's.
      Message:
        type: string
        description: Give the Message according to the Response of API's.
      Status:
        type: integer
        format: int32
        description: Give the Status according to the Response of API's.
      TotalRecords:
        type: integer
        format: int32
        description: Give the Total No. of Records according to the Response of API's.
    description: Model for the response of API's
  OTP By Template:
    type: object
    required:
    - message
    - mobileNumber
    properties:
      message:
        type: string
        description: Give the Message which you wanna to sent to Mobile Number
      mobileNumber:
        type: string
        description: Give the Mobile No. of User
    description: Model for the Mobile Number and Message
