swagger: '2.0'
info:
  description: Some custom description of API.
  version: '1.0'
  title: POWER2SME Bank Master Holiday Calendar API
  termsOfService: https://www.power2sme.com/termsandconditions
  contact:
    name: Power2sme
  license:
    name: License of API
    url: https://www.power2sme.com/privacypolicy
host: api.power2sme.com
basePath: /api/ws/v4
tags:
- name: Holiday Calendar
  description: ' '
paths:
  /entitylist:
    get:
      tags:
      - Holiday Calendar
      summary: List of All entities in Entity Master
      description: It will provide the list of all entities present in Entity Master
      operationId: getEntityListUsingGET
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Response Model'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /nextworkingdate:
    get:
      tags:
      - Holiday Calendar
      summary: Next working date
      description: 'It will provide next working date, if given date(format: yyyy-MM-dd) is working date then it will return same date'
      operationId: getNextWorkingDateUsingGET
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: entityId
        in: query
        description: entityId
        required: false
        type: integer
        default: 0
        format: int32
      - name: date
        in: query
        description: date
        required: true
        type: string
        format: date-time
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Response Model'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /previousworkingdate:
    get:
      tags:
      - Holiday Calendar
      summary: Previous working date
      description: 'It will provide previous working date, if given date(format: yyyy-MM-dd) is working date then it will return same date'
      operationId: getPreviousWorkingDateUsingGET
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: entityId
        in: query
        description: entityId
        required: false
        type: integer
        default: 0
        format: int32
      - name: date
        in: query
        description: date
        required: true
        type: string
        format: date-time
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Response Model'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
definitions:
  Response Model:
    type: object
    required:
    - Data
    - ErrorCode
    - Message
    - Status
    - TotalRecords
    properties:
      Data:
        type: object
        description: Give the Response of API's in the form of JSON Object
      ErrorCode:
        type: integer
        format: int32
        description: Give the Error Code according to the Response of API's.
      Message:
        type: string
        description: Give the Message according to the Response of API's.
      Status:
        type: integer
        format: int32
        description: Give the Status according to the Response of API's.
      TotalRecords:
        type: integer
        format: int32
        description: Give the Total No. of Records according to the Response of API's.
    description: Model for the response of API's
