openapi: 3.2.0
info:
  description: Some custom description of API.
  version: '1.0'
  title: POWER2SME Holiday Calendar API
  termsOfService: https://www.power2sme.com/termsandconditions
  contact:
    name: Power2sme
  license:
    name: License of API
    url: https://www.power2sme.com/privacypolicy
servers:
- url: https://api.power2sme.com/api/ws/v4
tags:
- name: Holiday Calendar
  description: ' '
paths:
  /entitylist:
    get:
      tags:
      - Holiday Calendar
      summary: List of All entities in Entity Master
      description: It will provide the list of all entities present in Entity Master
      operationId: getEntityListUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Model'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /nextworkingdate:
    get:
      tags:
      - Holiday Calendar
      summary: Next working date
      description: 'It will provide next working date, if given date(format: yyyy-MM-dd) is working date then it will return same date'
      operationId: getNextWorkingDateUsingGET
      parameters:
      - name: entityId
        in: query
        description: entityId
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: date
        in: query
        description: date
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Model'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /previousworkingdate:
    get:
      tags:
      - Holiday Calendar
      summary: Previous working date
      description: 'It will provide previous working date, if given date(format: yyyy-MM-dd) is working date then it will return same date'
      operationId: getPreviousWorkingDateUsingGET
      parameters:
      - name: entityId
        in: query
        description: entityId
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: date
        in: query
        description: date
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Model'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  schemas:
    Response_Model:
      type: object
      required:
      - Data
      - ErrorCode
      - Message
      - Status
      - TotalRecords
      properties:
        Data:
          type: object
          description: Give the Response of API's in the form of JSON Object
        ErrorCode:
          type: integer
          format: int32
          description: Give the Error Code according to the Response of API's.
        Message:
          type: string
          description: Give the Message according to the Response of API's.
        Status:
          type: integer
          format: int32
          description: Give the Status according to the Response of API's.
        TotalRecords:
          type: integer
          format: int32
          description: Give the Total No. of Records according to the Response of API's.
      description: Model for the response of API's
