swagger: '2.0'
info:
  description: Some custom description of API.
  version: '1.0'
  title: POWER2SME Bank Master P2S RPT API
  termsOfService: https://www.power2sme.com/termsandconditions
  contact:
    name: Power2sme
  license:
    name: License of API
    url: https://www.power2sme.com/privacypolicy
host: api.power2sme.com
basePath: /api/ws/v4
tags:
- name: P2S RPT
  description: ' '
paths:
  /customers/active:
    get:
      tags:
      - P2S RPT
      summary: fetches list of active customers
      description: This loads active customers list
      operationId: getActiveCustomersUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: sme_id
        in: query
        description: sme_id
        required: false
        type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Response Model'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /waod/{smeId}:
    get:
      tags:
      - P2S RPT
      summary: Get weighted average overdue days of an sme
      description: It provides weighted average overdue days (WAOD) of an sme.
      operationId: getRptWaodBySmeIdUsingGET
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: smeId
        in: path
        description: SmeId
        required: true
        type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Response Model'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
definitions:
  Response Model:
    type: object
    required:
    - Data
    - ErrorCode
    - Message
    - Status
    - TotalRecords
    properties:
      Data:
        type: object
        description: Give the Response of API's in the form of JSON Object
      ErrorCode:
        type: integer
        format: int32
        description: Give the Error Code according to the Response of API's.
      Message:
        type: string
        description: Give the Message according to the Response of API's.
      Status:
        type: integer
        format: int32
        description: Give the Status according to the Response of API's.
      TotalRecords:
        type: integer
        format: int32
        description: Give the Total No. of Records according to the Response of API's.
    description: Model for the response of API's
