openapi: 3.2.0
info:
  description: Some custom description of API.
  version: '1.0'
  title: POWER2SME Mobile OTP Service for Customer only API
  termsOfService: https://www.power2sme.com/termsandconditions
  contact:
    name: Power2sme
  license:
    name: License of API
    url: https://www.power2sme.com/privacypolicy
servers:
- url: https://api.power2sme.com/api/ws/v4
tags:
- name: Mobile OTP Service for Customer only
  description: ' '
paths:
  /generateotpforcontact:
    post:
      tags:
      - Mobile OTP Service for Customer only
      summary: Generate OTP for Customer
      description: It will generate the one time password by providing the Mobile Number for customer.
      operationId: generateOtpUsingPOST_2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Model'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Mobile_Number'
        description: mobileNumber
        required: true
  /validateotpforcontact:
    post:
      tags:
      - Mobile OTP Service for Customer only
      summary: Validate OTP for Customer
      description: It will validate the OTP sent to your mobile number.
      operationId: validateOtpUsingPOST_2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Model'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OTP'
        description: otp
        required: true
components:
  schemas:
    Response_Model:
      type: object
      required:
      - Data
      - ErrorCode
      - Message
      - Status
      - TotalRecords
      properties:
        Data:
          type: object
          description: Give the Response of API's in the form of JSON Object
        ErrorCode:
          type: integer
          format: int32
          description: Give the Error Code according to the Response of API's.
        Message:
          type: string
          description: Give the Message according to the Response of API's.
        Status:
          type: integer
          format: int32
          description: Give the Status according to the Response of API's.
        TotalRecords:
          type: integer
          format: int32
          description: Give the Total No. of Records according to the Response of API's.
      description: Model for the response of API's
    OTP:
      type: object
      required:
      - mobileNumber
      - otp
      properties:
        mobileNumber:
          type: string
          description: Give the Mobile No. of User
        otp:
          type: string
          description: Give the Otp for that Mobile No.
      description: Model for validating the otp for mibile number
    Mobile_Number:
      type: object
      required:
      - mobileNumber
      properties:
        mobileNumber:
          type: string
          description: Give the Mobile No. of User
        otpMessage:
          type: string
