swagger: '2.0'
info:
  description: Some custom description of API.
  version: '1.0'
  title: POWER2SME Bank Master API
  termsOfService: https://www.power2sme.com/termsandconditions
  contact:
    name: Power2sme
  license:
    name: License of API
    url: https://www.power2sme.com/privacypolicy
host: api.power2sme.com
basePath: /api/ws/v4
tags:
- name: Bank Master
  description: ' '
paths:
  /banklist:
    get:
      tags:
      - Bank Master
      summary: List of All banks in Bank Master
      description: It will provide the list of all banks present in Bank Master
      operationId: getBankListUsingGET
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Response Model'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /bankmaster:
    post:
      tags:
      - Bank Master
      summary: Information of All Banks Branches
      description: It provides you all the information of all bank branches on the basis of IFS Code or MICR Code
      operationId: searchBankMasterUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: bankMaster
        description: BankMaster
        required: true
        schema:
          $ref: '#/definitions/Bank Master'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Response Model'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /bankmaster/add:
    post:
      tags:
      - Bank Master
      summary: Add Bank IFSC
      description: Adds new IFSC entry in bank master if not present
      operationId: addBankIfscUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: bankMaster
        description: Bank IFSC details
        required: true
        schema:
          $ref: '#/definitions/Bank Master'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Response Model'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
definitions:
  Bank Master:
    type: object
    required:
    - ifsc
    properties:
      address:
        type: string
        description: Give the Address of Bank
      bank:
        type: string
        description: Give the name of Bank
      branch:
        type: string
        description: Give the branch of Bank
      city:
        type: string
        description: Give the city in which Bank is there
      contact:
        type: string
        description: Give the Contact No. of Bank
      district:
        type: string
        description: Give the District in which Bank is there
      ifsc:
        type: string
        description: Give the IFS Code of Bank
      limit:
        type: string
        description: Give the limitation of Banks
      micrCode:
        type: string
        description: Give the MICR Code of Bank
      state:
        type: string
        description: Give the State in which Bank is there
    description: Model for information of Bank.
  Response Model:
    type: object
    required:
    - Data
    - ErrorCode
    - Message
    - Status
    - TotalRecords
    properties:
      Data:
        type: object
        description: Give the Response of API's in the form of JSON Object
      ErrorCode:
        type: integer
        format: int32
        description: Give the Error Code according to the Response of API's.
      Message:
        type: string
        description: Give the Message according to the Response of API's.
      Status:
        type: integer
        format: int32
        description: Give the Status according to the Response of API's.
      TotalRecords:
        type: integer
        format: int32
        description: Give the Total No. of Records according to the Response of API's.
    description: Model for the response of API's
