{"swagger":"2.0","info":{"description":"Some custom description of API.","version":"1.0","title":"POWER2SME API","termsOfService":"https://www.power2sme.com/termsandconditions","contact":{"name":"Power2sme"},"license":{"name":"License of API","url":"https://www.power2sme.com/privacypolicy"}},"host":"api.power2sme.com","basePath":"/api/ws/v4","tags":[{"name":"General Mobile OTP Service By Template","description":" "},{"name":"SKU Navision","description":" "},{"name":"Customer Contact","description":" "},{"name":"Notification Service","description":" "},{"name":"Bank Master","description":" "},{"name":"Mobile OTP Service for Customer only","description":" "},{"name":"Location Master","description":" "},{"name":"Mobile OTP Service By Template for Customer only","description":" "},{"name":"SKU's information","description":" "},{"name":"Static information","description":" "},{"name":"General Mobile OTP Service","description":" "},{"name":"true-caller-controller","description":"True Caller Controller"},{"name":"Email Verification","description":" "},{"name":"Mobile Application","description":" "},{"name":"Employee Login","description":" "},{"name":"P2S RPT","description":" "},{"name":"Holiday Calendar","description":" "}],"paths":{"/applink":{"get":{"tags":["Mobile Application"],"summary":"Mobile Application Download Link","description":"It will send an app link on mobile number via sms by providing the mobile number and device platform like Android, Windows, IOS","operationId":"getAppLinkUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"mobile_no","in":"query","description":"Mobile No.","required":true,"type":"string","default":"8896421916"},{"name":"platform","in":"query","description":"Device Platform","required":true,"type":"string","default":"Android"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/approxordervallist":{"get":{"tags":["Static information"],"summary":"List of Credit Amounts","description":"Returns the total types of Credit Amounts which allocates to the Customer","operationId":"approxOrderValListUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/banklist":{"get":{"tags":["Bank Master"],"summary":"List of All banks in Bank Master","description":"It will provide the list of all banks present in Bank Master","operationId":"getBankListUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/bankmaster":{"post":{"tags":["Bank Master"],"summary":"Information of All Banks Branches","description":"It provides you all the information of all bank branches on the basis of IFS Code or MICR Code","operationId":"searchBankMasterUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"bankMaster","description":"BankMaster","required":true,"schema":{"$ref":"#/definitions/Bank Master"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/bankmaster/add":{"post":{"tags":["Bank Master"],"summary":"Add Bank IFSC","description":"Adds new IFSC entry in bank master if not present","operationId":"addBankIfscUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"bankMaster","description":"Bank IFSC details","required":true,"schema":{"$ref":"#/definitions/Bank Master"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cache/user/{query}":{"get":{"tags":["Customer Contact"],"summary":"Clear Login Credentials Cache","description":"This is to clear cache of login Credentials in the map","operationId":"cacheUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"query","in":"path","description":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/change/email":{"get":{"tags":["Customer Contact"],"summary":"updates emailId based on email and phone number. ","description":"This loads user by emailid or phone number.","operationId":"changeEmailUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"oldEmail","in":"query","description":"oldemail","required":true,"type":"string"},{"name":"newEmail","in":"query","description":"newemail","required":true,"type":"string"},{"name":"mobileNo","in":"query","description":"mobileno","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/changepassword":{"post":{"tags":["Customer Contact"],"summary":"Change Password","description":"Here Customer can change his password by providing old password, new password and Mobile No.","operationId":"changePasswordUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"changePassword","description":"ChangePassword","required":true,"schema":{"$ref":"#/definitions/Change Password"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cities":{"get":{"tags":["Location Master"],"summary":"List of all cities of a state","description":"It will provide All Cities of a State on the basis of State Id.","operationId":"getAllCitiesOfStateUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"stateid","in":"query","description":"stateid","required":true,"type":"integer","default":8,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/createnavsku":{"get":{"tags":["SKU Navision"],"summary":"this creates a new SKU in navision","description":"this creates a new SKU in navision","operationId":"createSkuInNavisionUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"sku","in":"query","description":"sku","required":false,"type":"string","default":"0"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/createpassword":{"post":{"tags":["Customer Contact"],"summary":"Create New Password","description":"If Customer forgot his old password, then here he can create his new password.","operationId":"createPasswordUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"createPassword","description":"CreatePassword","required":true,"schema":{"$ref":"#/definitions/Create Password"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/customerlogin":{"post":{"tags":["Customer Contact"],"summary":"Sign In","description":"Here Customer can sign in into his account by providing Mobile No and password.","operationId":"customerloginUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"contactLoginInfo","description":"ContactLogin","required":true,"schema":{"$ref":"#/definitions/Contact Login"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/customers/active":{"get":{"tags":["P2S RPT"],"summary":"fetches list of active customers","description":"This loads active customers list","operationId":"getActiveCustomersUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"sme_id","in":"query","description":"sme_id","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/email/verification":{"post":{"tags":["Email Verification"],"summary":"Send email verification mail to the customer","description":"It will send mail to email Id of the customer which needs to be verified.","operationId":"sendEmailVerificationMailUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"X-META-INFO-SOURCE","in":"header","description":"Calling System Meta Info","required":true,"type":"string"},{"in":"body","name":"email","description":"Customer Email Details","required":true,"schema":{"$ref":"#/definitions/Email details of the customer"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/email/verify/{uuid}":{"get":{"tags":["Email Verification"],"summary":"Receive email verified status from customer","description":"It will receive verified email status from the customer when he clicks on link sent in verification email.","operationId":"postVerifiedEmailUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"uuid","in":"path","description":"UUID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/entitylist":{"get":{"tags":["Holiday Calendar"],"summary":"List of All entities in Entity Master","description":"It will provide the list of all entities present in Entity Master","operationId":"getEntityListUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/generateotp":{"post":{"tags":["General Mobile OTP Service"],"summary":"Generate OTP","description":"It will generate the one time password by providing the Mobile Number.","operationId":"generateOtpUsingPOST_3","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"X-OTP-SOURCE","in":"header","description":"X-OTP-SOURCE","required":false,"type":"string"},{"in":"body","name":"mobileNumber","description":"Mobile Number","required":true,"schema":{"$ref":"#/definitions/Mobile Number"}},{"name":"X-OTP-LENGTH","in":"header","description":"X-OTP-LENGTH","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/generateotpbytemplate":{"post":{"tags":["General Mobile OTP Service By Template"],"summary":"Generate OTP By Template","description":"It will generate the one time password by providing the Mobile Number and Message, which you wanna to sent to mobile number. You have to provide \"#OTP#\" in your message which will replace with otp.","operationId":"generateOtpUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"otpByTemplate","description":"Mobile Number with message","required":true,"schema":{"$ref":"#/definitions/OTP By Template"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/generateotpforcontact":{"post":{"tags":["Mobile OTP Service for Customer only"],"summary":"Generate OTP for Customer","description":"It will generate the one time password by providing the Mobile Number for customer.","operationId":"generateOtpUsingPOST_2","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"mobileNumber","description":"mobileNumber","required":true,"schema":{"$ref":"#/definitions/Mobile Number"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/generateotpforcontactbytemplate":{"post":{"tags":["Mobile OTP Service By Template for Customer only"],"summary":"Generate OTP for Customer By Template","description":"It will generate the one time password by providing the Mobile Number and Message for customer, which you wanna to sent to mobile number. You have to provide \"#OTP#\" in your message which will replace with otp.","operationId":"generateOtpUsingPOST_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"otpByTemplate","description":"otpByTemplate","required":true,"schema":{"$ref":"#/definitions/OTP By Template"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/getAccessTokenFromTrueCaller":{"post":{"tags":["true-caller-controller"],"summary":"saveTrueCallerCallBackDetails","operationId":"saveTrueCallerCallBackDetailsUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"token","description":"token","required":true,"schema":{"$ref":"#/definitions/TrueCallerAccessToken"}}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/getTruecallerInfo":{"get":{"tags":["true-caller-controller"],"summary":"getTrueCallerDataForRequestId","operationId":"getTrueCallerDataForRequestIdUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"trueCallerRequestId","in":"query","description":"trueCallerRequestId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TrueCallerAccessToken"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/getalllocation":{"get":{"tags":["Location Master"],"summary":"List of All locations in Location Master","description":"It will provide the list of all locations till present day.","operationId":"getAllLocationUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/isregister":{"post":{"tags":["Customer Contact"],"summary":"Contact Already Registered or not","description":"This is a check whether user is registered with us or not by providing Mobile No. and Email.","operationId":"isRegisterUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"contactEmail","description":"ContactEmail","required":true,"schema":{"$ref":"#/definitions/Contact Email"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/loadcustomerdetailsbyid":{"get":{"tags":["Customer Contact"],"summary":" fetches user details based on email/phone","description":"This loads user by emailid or phone number.","operationId":"loadUserByIdUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"Email/Phone","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/locationmaster":{"get":{"tags":["Location Master"],"summary":"List of All city and state by pincode","description":"It will provide the list of all cities and states and location on the basis of pincode","operationId":"getPincodeDataUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"pincode","in":"query","description":"pincode","required":true,"type":"string","default":"122015"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/nextworkingdate":{"get":{"tags":["Holiday Calendar"],"summary":"Next working date","description":"It will provide next working date, if given date(format: yyyy-MM-dd) is working date then it will return same date","operationId":"getNextWorkingDateUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"entityId","in":"query","description":"entityId","required":false,"type":"integer","default":0,"format":"int32"},{"name":"date","in":"query","description":"date","required":true,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/otp":{"get":{"tags":["General Mobile OTP Service"],"summary":"Get OTP","description":"It will return the OTP sent on any mobile number.","operationId":"getOtpUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"mobile","in":"query","description":"Mobile Number","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/p2semployees":{"get":{"tags":["Employee Login"],"summary":"fetches all employee names and their corresponding email IDs","description":" this gets all employee names and their corresponding emailIDs","operationId":"getPower2SMEEmployeeDetailsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"emailIds","in":"query","description":"emailIds","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/previousworkingdate":{"get":{"tags":["Holiday Calendar"],"summary":"Previous working date","description":"It will provide previous working date, if given date(format: yyyy-MM-dd) is working date then it will return same date","operationId":"getPreviousWorkingDateUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"entityId","in":"query","description":"entityId","required":false,"type":"integer","default":0,"format":"int32"},{"name":"date","in":"query","description":"date","required":true,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/registercontact":{"post":{"tags":["Customer Contact"],"summary":"Sign Up","description":"Here Customer can register and he will registered as a contact in our system. He has to provide some basic and mandatory information like Name, Mobile No. Company Name, Email and Password","operationId":"registercontactUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"contact","description":"Contact","required":true,"schema":{"$ref":"#/definitions/Contact Register"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/replacableskulistbysubcategory":{"get":{"tags":["SKU's information"],"summary":"List of All Replacable SKU's by Sub Category","description":"In this, you will provide the SKU Code and then it will find the sub category of that SKU and returns the list of All SKU's related with that Sub Category.","operationId":"getRelevantSkuListBySubCategoryUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"skuid","in":"query","description":"SKU Code","required":true,"type":"string","default":"SKUN105075"},{"name":"pageIndex","in":"query","description":"pageIndex","required":false,"type":"integer","default":0,"format":"int32"},{"name":"pageSize","in":"query","description":"pageSize","required":false,"type":"integer","default":0,"format":"int32"},{"name":"response","in":"query","description":"response","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/searchUser":{"post":{"tags":["Employee Login"],"summary":"searchUser","operationId":"searchUserUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"user","description":"user","required":true,"schema":{"$ref":"#/definitions/User"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/send/{mode}":{"post":{"tags":["Notification Service"],"summary":"Send notification via e-mail or SMS","description":"allowed values for mode param are: email, sms","operationId":"sendNotifUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"mode","in":"path","description":"mode","required":true,"type":"string"},{"in":"body","name":"jsonParam","description":"jsonParam","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/skubrandlist":{"get":{"tags":["SKU's information"],"summary":"List of All Brands","description":"Returns the list of all brands of a single category and single subcategory in SKU System.","operationId":"getSKUBrandListUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"category","in":"query","description":"Category","required":true,"type":"string","default":"steel"},{"name":"subcategory","in":"query","description":"SubCategory","required":true,"type":"string","default":"angle"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/skucategorylist":{"get":{"tags":["SKU's information"],"summary":"List of All Categories","description":"Returns the list of all categories in SKU System.","operationId":"getSKUCatListUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/skucodelist":{"get":{"tags":["SKU's information"],"summary":"List of All SKU Codes","description":"Returns the list of all sku codes present in SKU System","operationId":"getSKUCodeListUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/skugradelist":{"get":{"tags":["SKU's information"],"summary":"List of All Grades","description":"Returns the list of all grades of a single category and single subcategory in SKU System.","operationId":"getSKUGradeListUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"category","in":"query","description":"Category","required":true,"type":"string","default":"steel"},{"name":"subcategory","in":"query","description":"SubCategory","required":true,"type":"string","default":"angle"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/skulist":{"get":{"tags":["SKU's information"],"summary":"List of All SKU's","description":"Returns the list of all SKU's in SKU System, and can search the result by skuid, category, subcategory, brand.","operationId":"getSKUListUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"skuid","in":"query","description":"skuid","required":false,"type":"string"},{"name":"category","in":"query","description":"category","required":false,"type":"string"},{"name":"subcategory","in":"query","description":"subcategory","required":false,"type":"string"},{"name":"brand","in":"query","description":"brand","required":false,"type":"string"},{"name":"longdesc","in":"query","description":"longdesc","required":false,"type":"string"},{"name":"r","in":"query","description":"r","required":false,"type":"boolean"},{"name":"pageIndex","in":"query","description":"pageIndex","required":false,"type":"integer","default":0,"format":"int32"},{"name":"pageSize","in":"query","description":"pageSize","required":false,"type":"integer","default":0,"format":"int32"},{"name":"response","in":"query","description":"response","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/skusubcategorylist":{"get":{"tags":["SKU's information"],"summary":"List of All SubCategories","description":"Returns the list of all subcategories of a single category in SKU System.","operationId":"getSKUSubCatListUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"category","in":"query","description":"Category","required":true,"type":"string","default":"steel"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/states":{"get":{"tags":["Location Master"],"summary":"List of All States","description":"It will provide the list of all states.","operationId":"getAllStatesUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/taxationpreflist":{"get":{"tags":["Static information"],"summary":"List of Taxation Preference","description":"Returns the total number of Tax Preference we used","operationId":"getTaxationPrefListUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/uomlist":{"get":{"tags":["SKU's information"],"summary":"List of All Measuring Units","description":"Returns the list of all measuring units and can search the measuring units of a single category in SKU System.","operationId":"getUOMListUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"category","in":"query","description":"Category","required":false,"type":"string","default":"steel"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/urgencylist":{"get":{"tags":["Static information"],"summary":"List of Credit Days","description":"Returns the total types of Credit Days during which the Customer pays the amount","operationId":"urgencyListUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/validateotp":{"post":{"tags":["General Mobile OTP Service"],"summary":"Validate OTP","description":"It will validate the OTP sent to your mobile number.","operationId":"validateOtpUsingPOST_3","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"otp","description":"otp","required":true,"schema":{"$ref":"#/definitions/OTP"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/validateotpbytemplate":{"post":{"tags":["General Mobile OTP Service By Template"],"summary":"Validate OTP when Generate By Template","description":"It will validate the OTP sent to your mobile number.","operationId":"validateOtpUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"otp","description":"otp","required":true,"schema":{"$ref":"#/definitions/OTP"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/validateotpforcontact":{"post":{"tags":["Mobile OTP Service for Customer only"],"summary":"Validate OTP for Customer","description":"It will validate the OTP sent to your mobile number.","operationId":"validateOtpUsingPOST_2","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"otp","description":"otp","required":true,"schema":{"$ref":"#/definitions/OTP"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/validateotpforcontactbytemplate":{"post":{"tags":["Mobile OTP Service By Template for Customer only"],"summary":"Validate OTP for Customer when Generate By Template","description":"It will validate the OTP sent to your mobile number.","operationId":"validateOtpUsingPOST_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"otp","description":"otp","required":true,"schema":{"$ref":"#/definitions/OTP"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/waod/{smeId}":{"get":{"tags":["P2S RPT"],"summary":"Get weighted average overdue days of an sme","description":"It provides weighted average overdue days (WAOD) of an sme.","operationId":"getRptWaodBySmeIdUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"smeId","in":"path","description":"SmeId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response Model"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}}},"definitions":{"Create Password":{"type":"object","required":["newPassword","tokenId","userName"],"properties":{"newPassword":{"type":"string","description":"Give the value of New Password"},"tokenId":{"type":"string","description":"Give the token Id of User"},"userName":{"type":"string","description":"Give the contact of User"}},"description":"Model for creating the new password."},"User":{"type":"object","properties":{"department":{"type":"string"},"email":{"type":"string"},"firstName":{"type":"string"},"id":{"type":"string"},"lastName":{"type":"string"},"mobile":{"type":"string"},"reportsTo":{"$ref":"#/definitions/User"},"reportsToDepth":{"type":"integer","format":"int32"},"reportsToId":{"type":"string"},"reportsToLevel":{"type":"integer","format":"int32"},"roleId":{"type":"string"},"roleName":{"type":"string"},"sessionId":{"type":"string"},"title":{"type":"string"},"userHash":{"type":"string"},"userHashEncrypted":{"type":"string"},"userName":{"type":"string"}}},"TrueCallerAccessToken":{"type":"object","properties":{"accessToken":{"type":"string"},"requestId":{"type":"string"},"state":{"type":"string"}}},"Response Model":{"type":"object","required":["Data","ErrorCode","Message","Status","TotalRecords"],"properties":{"Data":{"type":"object","description":"Give the Response of API's in the form of JSON Object"},"ErrorCode":{"type":"integer","format":"int32","description":"Give the Error Code according to the Response of API's."},"Message":{"type":"string","description":"Give the Message according to the Response of API's."},"Status":{"type":"integer","format":"int32","description":"Give the Status according to the Response of API's."},"TotalRecords":{"type":"integer","format":"int32","description":"Give the Total No. of Records according to the Response of API's."}},"description":"Model for the response of API's"},"OTP":{"type":"object","required":["mobileNumber","otp"],"properties":{"mobileNumber":{"type":"string","description":"Give the Mobile No. of User"},"otp":{"type":"string","description":"Give the Otp for that Mobile No."}},"description":"Model for validating the otp for mibile number"},"Contact Register":{"type":"object","required":["companyname","confirm_password","contact_number","email","firstname","lastname","leadsource","password"],"properties":{"companyname":{"type":"string","description":"Give the Company Name of User"},"confirm_password":{"type":"string","description":"Give the password of User"},"contact_number":{"type":"string","description":"Give the mobile no. of User"},"email":{"type":"string","description":"Give the Email of User"},"firstname":{"type":"string","description":"Give the first name of User"},"lastname":{"type":"string","description":"Give the last name of User"},"leadsource":{"type":"string","description":"Give the Lead Source"},"password":{"type":"string","description":"Give the password of User"}},"description":"Model for signing up as a Contact"},"Bank Master":{"type":"object","required":["ifsc"],"properties":{"address":{"type":"string","description":"Give the Address of Bank"},"bank":{"type":"string","description":"Give the name of Bank"},"branch":{"type":"string","description":"Give the branch of Bank"},"city":{"type":"string","description":"Give the city in which Bank is there"},"contact":{"type":"string","description":"Give the Contact No. of Bank"},"district":{"type":"string","description":"Give the District in which Bank is there"},"ifsc":{"type":"string","description":"Give the IFS Code of Bank"},"limit":{"type":"string","description":"Give the limitation of Banks"},"micrCode":{"type":"string","description":"Give the MICR Code of Bank"},"state":{"type":"string","description":"Give the State in which Bank is there"}},"description":"Model for information of Bank."},"Email details of the customer":{"type":"object","properties":{"emailId":{"type":"string"},"templateDetail":{"type":"object","additionalProperties":{"type":"string"}}}},"Contact Email":{"type":"object","required":["contact_number"],"properties":{"contact_number":{"type":"string","description":"Give the contact of User"},"email":{"type":"string","description":"Give the Email Id of User"}},"description":"Model of Contact and Email."},"Mobile Number":{"type":"object","required":["mobileNumber"],"properties":{"mobileNumber":{"type":"string","description":"Give the Mobile No. of User"},"otpMessage":{"type":"string"}}},"Contact Login":{"type":"object","required":["password","userId"],"properties":{"password":{"type":"string","description":"Give the password of User"},"userId":{"type":"string","description":"Give the User Id of User"}},"description":"Model for Login into his account"},"Change Password":{"type":"object","required":["newPassword","oldPassword","userName"],"properties":{"newPassword":{"type":"string","description":"Give the value of new password"},"oldPassword":{"type":"string","description":"Give the value of old password"},"userName":{"type":"string","description":"Give the Contact of User"}},"description":"Model for changing the password."},"OTP By Template":{"type":"object","required":["message","mobileNumber"],"properties":{"message":{"type":"string","description":"Give the Message which you wanna to sent to Mobile Number"},"mobileNumber":{"type":"string","description":"Give the Mobile No. of User"}},"description":"Model for the Mobile Number and Message"}}}